###> base ###
.DS_Store
###< base ###

###> docker ###
/docker/**/data/
/docker/**/log/
###< docker ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> private ###
/bundles
/public/uploads
/public/dist
###< private ###

###> node ###
/node_modules
###< node ###